.contact-page{
    .container{
        margin-top: 10rem;
    }
    .sentamessage{
        padding: 2rem;
    }
    .contact{
        padding: 5rem;
    }
    .icon{

    }
    .contact-detail{
        margin-top: 2rem;
    }
}