.event-page {
  .container {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
  * {
    box-sizing: border-box;
  }
  .a-box {
    display: inline-block;
    width: 300px;
    text-align: center;
  }

  .img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
  }

  .img-container img {
    transform: skew(0deg, 13deg);
    height: 250px;
    margin: -20px 0px 0px -20px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 120%;
  }

  .inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, -13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
  }

  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 20px 20px 20px;
    line-height: 19px;
    font-size: 14px;
    p {
      color: $color_1;
      strong {
        color: $color_2;
        min-width: 180px;
        margin-right: 20px;
      }
      a {
        color: $color_5;
        padding: 10px;
        border-radius: 25px;
        background-color: $color_1;
        &:hover {
          color: $color_7;
        }
      }
    }
    hr {
      margin: 1.5rem 0;
    }
  }

  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: $color_7;
    font-size: 18px;
  }
  img.show {
    object-fit: contain;
    height: 450px;
  }
  .event-detail {
    .container {
      margin-top: 10rem;
      margin-bottom: 5rem;
    }
    .title {
      color: burlywood;
    }
    img {
      width: 100%;
      border: 0;
      max-height: 450px;
      margin-bottom: 2rem;
      object-fit: contain;
    }
    p,
    ol > li {
      font-size: 1.25rem;
      color: var(--p-color);
    }
  }
}
